<div class="hero-section">
    <div class="hero-title">
        <h1 class="hero-title-text">Hello, Admin Samay</h1>
        <p class="hero-subtitle-text">Admin operations are given below.</p>
    </div>

    <div class="hero-description">
        <ul class="desc-list">
            <li class="desc"><i class="fa fa-duotone fa-circle-check check-icon"></i>You can update, delete or create
                new products.</li>
            <li class="desc"><i class="fa fa-duotone fa-circle-check check-icon"></i>You can change, or Update User
                Roles, make new admins.</li>
            <li class="desc"><i class="fa fa-duotone fa-circle-check check-icon"></i>You can Add or rename new
                categories.</li>
            <li class="desc"><i class="fa fa-duotone fa-circle-check check-icon"></i>You can view orders and manage the
                order status.</li>
        </ul>
    </div>
</div>