<main class="py-5 my-4">
	<div class="container">
		<div class="bg-white shadow rounded-lg d-sm-flex">
			<div class="profile-tab-nav border-right">
				<div class="p-4 d-flex">
					<h2 class="text-center">Abhinav Tyagi</h2>
				</div>
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab"
						aria-controls="account" aria-selected="true">
						<i class="fa fa-home text-center mr-1"></i>
						Account
					</a>
					<a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab"
						aria-controls="password" aria-selected="false">
						<i class="fa fa-key text-center mr-1"></i>
						Password
					</a>
					<a class="nav-link" id="security-tab" data-toggle="pill" href="#security" role="tab"
						aria-controls="security" aria-selected="false">
						<i class="fa fa-user text-center mr-1"></i>
						Security
					</a>
					<a class="nav-link" id="application-tab" data-toggle="pill" href="#application" role="tab"
						aria-controls="application" aria-selected="false">
						<i class="fa fa-tv text-center mr-1"></i>
						Application
					</a>
				</div>
			</div>
			<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">

				<form class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab" [formGroup]="UpdateFrom" (ngSubmit)="updateUser()">
					<h3 class="mb-4">Account Settings</h3>
					<div class="row">
						<div class="col-md-6">
							<div class="input-div">
								<label>First Name</label>
								<input type="text" class="inputs" formControlName="firstName">
							</div>
						</div>
						<div class="col-md-6">
							<div class="input-div">
								<label>Last Name</label>
								<input type="text" class="inputs" formControlName="lastName">
							</div>
						</div>
						<div class="col-md-6">
							<div class="input-div">
								<label>Phone number</label>
								<input type="text" class="inputs" formControlName="phone">
							</div>
						</div>
					</div>
					<div>
						<button type="button" class="cancel-btn">Cancel</button>
						<button type="submit" class="update-btn">Update</button>
					</div>
				</form>
				
				<section class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
					<h3 class="mb-4">Password Settings</h3>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Old password</label>
								<input type="password" class="form-control inputs">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>New password</label>
								<input type="password" class="form-control inputs">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Confirm new password</label>
								<input type="password" class="form-control inputs">
							</div>
						</div>
					</div>
					<div>
						<button class="cancel-btn">Cancel</button>
						<button class="update-btn">Update</button>
					</div>
				</section>

				<section class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
					<h3 class="mb-4">Security Settings</h3>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label>Login</label>
								<input type="text" class="form-control inputs">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Two-factor auth</label>
								<input type="text" class="form-control inputs">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input inputs" type="checkbox" value="" id="recovery">
									<label class="form-check-label" for="recovery">
										Recovery
									</label>
								</div>
							</div>
						</div>
					</div>
					<div>
						<button class="cancel-btn">Cancel</button>
						<button class="update-btn">Update</button>
					</div>
				</section>

				<section class="tab-pane fade" id="application" role="tabpanel" aria-labelledby="application-tab">
					<h3 class="mb-4">Application Settings</h3>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="app-check">
									<label class="form-check-label" for="app-check">
										App check
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
									<label class="form-check-label" for="defaultCheck2">
										Lorem ipsum dolor sit.
									</label>
								</div>
							</div>
						</div>
					</div>
					<div>
						<button class="cancel-btn">Cancel</button>
						<button class="update-btn">Update</button>
					</div>
				</section>
			</div>
		</div>
	</div>
</main>