<div class="section-header">
    <h1 class="section-title">Here is the list of all the products</h1>
    <button type="submit" class="add-btn" routerLink="/admin/products/add"><i class="fa fa-duotone fa-plus"></i> Add New Product </button>
</div>
<div class="product-container">
    <div class="product-card" routerlink="/abc" type="button">
        <div class="product-data">
            <img src="assets/LandingPage/demoMedicineImages/pcm.jpg" alt="medi-img" class="product-img">
            <div class="product-details">
                <h3 class="product-name">Product Name is here</h3>
                <h4 class="product-detail"><span>By :</span> BrandName</h4>
                <h4 class="product-detail"><span>Seller :</span> ABC Medicose</h4>
                <h4 class="product-detail"><span>Quantity :</span> 50</h4>
                <h2 class="product-detail"><span>Price : </span>&#x20B9; 499.25</h2>
                <p class="product-detail"><span>MRP : </span>&#x20B9; 550.99</p>
            </div>
        </div>
        <div class="product-price-info">
            <button type="button" class="view-btn" routerLink="/admin/products/form">Edit / View</button>
            <button type="button" class="delete-btn" routerlink="">Delete</button>
        </div>
    </div>
    <div class="product-card" routerlink="/abc" type="button">
        <div class="product-data">
            <img src="assets/LandingPage/demoMedicineImages/pcm.jpg" alt="medi-img" class="product-img">
            <div class="product-details">
                <h3 class="product-name">Product Name is here</h3>
                <h4 class="product-detail"><span>By :</span> BrandName</h4>
                <h4 class="product-detail"><span>Seller :</span> ABC Medicose</h4>
                <h4 class="product-detail"><span>Quantity :</span> 50</h4>
                <h2 class="product-detail"><span>Price : </span>&#x20B9; 499.25</h2>
                <p class="product-detail"><span>MRP : </span>&#x20B9; 550.99</p>
            </div>
        </div>
        <div class="product-price-info">
            <button type="button" class="view-btn" routerLink="/admin/products/form">Edit / View</button>
            <button type="button" class="delete-btn" routerlink="">Delete</button>
        </div>
    </div>
    <div class="product-card" routerlink="/abc" type="button">
        <div class="product-data">
            <img src="assets/LandingPage/demoMedicineImages/pcm.jpg" alt="medi-img" class="product-img">
            <div class="product-details">
                <h3 class="product-name">Product Name is here</h3>
                <h4 class="product-detail"><span>By :</span> BrandName</h4>
                <h4 class="product-detail"><span>Seller :</span> ABC Medicose</h4>
                <h4 class="product-detail"><span>Quantity :</span> 50</h4>
                <h2 class="product-detail"><span>Price : </span>&#x20B9; 499.25</h2>
                <p class="product-detail"><span>MRP : </span>&#x20B9; 550.99</p>
            </div>
        </div>
        <div class="product-price-info">
            <button type="button" class="view-btn" routerLink="/admin/products/form">Edit / View</button>
            <button type="button" class="delete-btn" routerlink="">Delete</button>
        </div>
    </div>
    <div class="product-card" routerlink="/abc" type="button">
        <div class="product-data">
            <img src="assets/LandingPage/demoMedicineImages/pcm.jpg" alt="medi-img" class="product-img">
            <div class="product-details">
                <h3 class="product-name">Product Name is here</h3>
                <h4 class="product-detail"><span>By :</span> BrandName</h4>
                <h4 class="product-detail"><span>Seller :</span> ABC Medicose</h4>
                <h4 class="product-detail"><span>Quantity :</span> 50</h4>
                <h2 class="product-detail"><span>Price : </span>&#x20B9; 499.25</h2>
                <p class="product-detail"><span>MRP : </span>&#x20B9; 550.99</p>
            </div>
        </div>
        <div class="product-price-info">
            <button type="button" class="view-btn" routerLink="/admin/products/form">Edit / View</button>
            <button type="button" class="delete-btn" routerlink="">Delete</button>
        </div>
    </div>
</div>