<main class="no-Admin" *ngIf="isAdmin == false">
    <h1 class="no-Admin-header">You are not an Authorized Admin</h1>
    <p id="no-Admin-warning">If you are not an Admin, then don't try to enter in admin panel, else your ID will be banned permanently, <strong>OR</strong><p>
    <p id="no-Admin-guide">Contact other admins to make you admin then, try again.</p>
    
    <div class="redirection-area">
        <p>Automatically Redirecting you to the user home page in.... {{timer}} Seconds, else</p>
        
        <button type="button" class="back-btn" routerLink="/">
            <i class="fa fa-duotone fa-arrow-left"></i> Go Back
        </button>
    </div>
</main>
<main *ngIf="isAdmin == true">
    <aside class="sidebar">
        <div class="sidebar-header">
            <i class="fa fa-duotone fa-bars"></i>
            <h1 class="sidebar-title">Admin Menu</h1>
        </div>
        <div class="sidebar-items">
            <button class="side-item" [routerLink]="'users'">
                <i class="fa icon fa-duotone fa-user"></i>
                <span>Manage Users</span>
                <i class="fa fa-duotone fa-arrow-right arrow"></i>
            </button>
            <button class="side-item" [routerLink]="'products'">
                <i class="fa icon fa-duotone fa-store"></i>
                <span>Manage Products</span>
                <i class="fa fa-duotone fa-arrow-right arrow"></i>
            </button>
            <button class="side-item" [routerLink]="'categories'">
                <i class="fa icon fa-duotone fa-sitemap"></i>
                <span>Manage Categories</span>
                <i class="fa fa-duotone fa-arrow-right arrow"></i>
            </button>
            <button class="side-item" [routerLink]="'orders'">
                <i class="fa icon fa-duotone fa-cart-shopping"></i>
                <span>Manage Orders</span>
                <i class="fa fa-duotone fa-arrow-right arrow"></i>
            </button>
            <button class="side-item">
                <i class="fa icon fa-duotone fa-users"></i>
                <span>Manage Sellers</span>
                <i class="fa fa-duotone fa-arrow-right arrow"></i>
            </button>
        </div>
    </aside>
    
    <section class="product-list-container">
        <router-outlet></router-outlet>
    </section>
</main>