<div class="from-section">
    <div class="section-header">
        <i class="fa fa-duotone fa-plus"></i>
        <h1 class="section-title">Add new Medicine</h1>
    </div>
    
    <form class="MedicineFrom" [formGroup]="addProductForm" (ngSubmit)="createProduct()">
        <div class="input-sections">
            <label for="medicineName" class="input-labels">Medicine Name</label>
            <span class="error-message" *ngIf="!addProductForm.get('medicineName')?.valid && addProductForm.get('medicineName')?.touched">
                [length should be more than 3 characters]
            </span>
            <input type="text" class="inputs" placeholder="Medicine Name" formControlName="medicineName">
        </div>
        <div class="input-sections">
            <label for="" class="input-labels">Chemical Name</label>
            <input type="text" class="inputs" placeholder="Chemical Name">
        </div>
        <div class="input-sections">
            <label for="" class="input-labels">Brand Name</label>
            <input type="text" class="inputs" placeholder="Brand Name">
        </div>
        <div class="input-sections">
            <label for="category" class="input-labels">Category</label>
            <select name="category" class="inputs" id="category">
                <option value="bone">Bone</option>
                <option value="thyroid">Thyroid</option>
                <option value="cold&flu">Cold and Flu</option>
                <option value="anti-allergic">Anti-Allergic</option>
                <option value="anti-biotics">Anti-Biotics</option>
                <option value="anti-depressants">Anti-Depressants</option>
            </select>
        </div>
        <div class="input-sections">
            <label for="type" class="input-labels">Type</label>
            <select name="type" class="inputs" id="type">
                <option value="tablets">Tablets</option>
                <option value="syrups">Syrups</option>
                <option value="injections">Injections</option>
                <option value="sprays">Sprays</option>
            </select>
        </div>
        <div class="input-sections">
            <label for="" class="input-labels">MFG Date</label>
            <div class="date-selectors">
                <select name="mfg-month" id="mfg-month" class="inputs">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <select name="mfg-year" id="mfg-year" class="inputs">
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                </select>
            </div>
        </div>
        <div class="input-sections">
            <label for="" class="input-labels">EXP Date</label>
            <div class="date-selectors">
                <select name="exp-month" id="exp-month" class="inputs">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <select name="exp-year" id="exp-year" class="inputs">
                    <option value="2017">2022</option>
                    <option value="2018">2023</option>
                    <option value="2019">2024</option>
                    <option value="2020">2025</option>
                    <option value="2021">2026</option>
                    <option value="2022">2027</option>
                </select>
            </div>
        </div>
        <div class="input-sections">
            <label for="" class="input-labels">Photo</label>
            <input type="file" class="inputs">
        </div>
        <div class="input-sections">
            <label for="" class="input-labels">Price</label>
            <input type="number" class="inputs" placeholder="Price">
        </div>
        <div class="input-sections">
            <label for="" class="input-labels">Seller Name</label>
            <input type="text" class="inputs" placeholder="Seller Name">
        </div>

        <div class="form-footer">
            <button type="button" class="cancel-btn" routerLink="/admin/products"><i class="fa fa-duotone fa-arrow-left"></i> Cancel</button>
            <button type="submit" class="add-btn" [disabled]="!addProductForm.valid">Create <i class="fa fa-duotone fa-plus"></i></button>
        </div>
    </form>
</div>