.from-section{
    margin: 0.5rem 0 2rem 2.5rem;
}
.section-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.section-header i{
    font-weight: 800;
    color: green;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
.section-title{
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: bold;
}
form {
    width: 38rem;
    padding: 1.25rem 1.75rem;
    background: #f4f7f8;
    border-radius: 12px;
}
.input-sections{
    display: flex;
    flex-direction: column;
}
.inputs{
    border-radius: 10px;
    font-family: var(--secondary-font);
    font-size: 1rem;
    border: none;
    margin: 0.5rem 0 0 1rem;
    outline: 0;
    padding: 0.5rem;
    background-color: #e8eeef;
    margin-bottom: 30px;
}
.date-selectors{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.form-footer{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}
.form-footer button i{
    margin: 0 0.25rem;
}
.cancel-btn{
    background-color: var(--primary-color);
}
.cancel-btn, .add-btn{
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-family: var(--primary-font);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.cancel-btn:hover{
    background-color: var(--secondary-color);
}
.cancel-btn:active{
    background-color: var(--button-pressed-color);
    color: black;
}
.add-btn{
    background-color: var(--primary-submit-color);
}
.add-btn:hover{
    background-color: var(--secondary-submit-color);
}
.add-btn:active{
    background-color: var(--ternery-submit-color);
}

/* ======================= validations ================ */
input.ng-invalid.ng-touched{
    border: 2px solid red;
}
input.ng-valid.ng-touched{
    border: 2px solid rgb(3, 187, 0);
}
.error-message{
    font-size: 0.75rem;
    color: red;
}
.submit-btn:disabled{
    background-color: rgb(187, 255, 187);
    color:rgb(150, 150, 150);
    cursor:not-allowed;
}