<div class="from-section">
    <div class="section-header">
        <i class="fa fa-duotone fa-plus"></i>
        <h1 class="section-title">Add new Medicine</h1>
    </div>
    <div class="section-messages" *ngIf="responseStatus != ''">
        <h1 class="section-success-message" *ngIf="responseStatus == 'ok'">Product Updated</h1>
        <h1 class="section-error-message" *ngIf="responseStatus == 'error'">Product Not Found!!!</h1>
        <button type="button" class="cancel-btn" (click)="goBack()">
            <i class="fa fa-duotone fa-arrow-left"></i> Cancel
        </button>
    </div>

    <form class="MedicineFrom" [formGroup]="addProductForm" (ngSubmit)="createProduct()" *ngIf="responseStatus == ''">
        <div class="input-sections">
            <label for="name" class="input-labels">Medicine Name</label>
            <span class="error-message" *ngIf="!addProductForm.get('name')?.valid && addProductForm.get('name')?.touched">
                [Name length should be minimum 3 characters]
            </span>
            <input type="text" class="inputs" formControlName="name">
        </div>
        <div class="input-sections">
            <label for="chemical" class="input-labels">Chemical Name</label>
            <span class="error-message" *ngIf="!addProductForm.get('chemical')?.valid && addProductForm.get('chemical')?.touched">
                [Name length should be minimum 3 characters]
            </span>
            <input type="text" class="inputs" formControlName="chemical">
        </div>
        <div class="input-sections">
            <label for="brandName" class="input-labels">Brand Name</label>
            <span class="error-message" *ngIf="!addProductForm.get('brandName')?.valid && addProductForm.get('brandName')?.touched">
                [Name length should be minimum 3 characters]
            </span>
            <input type="text" class="inputs" formControlName="brandName">
        </div>
        <div class="input-sections">
            <label for="qty" class="input-labels">Quantity</label>
            <span class="error-message" *ngIf="!addProductForm.get('qty')?.valid && addProductForm.get('qty')?.touched">
                [Max quantity can be 100]
            </span>
            <input type="number" class="inputs" formControlName="qty">
        </div>
        <div class="input-sections">
            <label for="power" class="input-labels">Power/ Volume/ Weight (with unit)</label>
            <span class="error-message" *ngIf="!addProductForm.get('power')?.valid && addProductForm.get('power')?.touched">
                [Power for capsules/ Volume for liquids...]
            </span>
            <input type="text" class="inputs" placeholder="150mg / 300ml / 40g ..." formControlName="power">
        </div>
        <div class="input-sections">
            <label for="category" class="input-labels">Category</label>
            <select name="category" class="inputs" id="category" formControlName="category">
                <option *ngFor="let category of categories" value="{{category.urlName}}" [selected]="category.urlName == medicine.category">{{category.categoryName}}</option>  
            </select>
        </div>
        <div class="input-sections">
            <label for="type" class="input-labels">Type</label>
            <select name="type" class="inputs" id="type" formControlName="type">
                <option *ngFor="let type of types" value="{{type.value}}" [selected]="type.value == medicine.type">{{type.name}}</option>
            </select>
        </div>
        <div class="input-sections">
            <label for="" class="input-labels">MFG Date</label>
            <div class="date-selectors">
                <select name="mfgMonth" id="mfg-month" class="inputs" formControlName="mfgMonth">
                    <option value="{{month}}" [selected]="month ==  addProductForm.value.mfgMonth" *ngFor="let month of monthArr">{{month}}</option>
                </select>
                <select name="mfgYear" id="mfg-year" class="inputs" formControlName="mfgYear">
                    <option *ngFor="let year of yearArr" value="{{year}}" [selected]="year == addProductForm.value.mfgYear">{{year}}</option>
                </select>
            </div>
        </div>
        <div class="input-sections">
            <label for="exp-month" class="input-labels">EXP Date</label>
            <div class="date-selectors">
                <select name="expMonth" id="exp-month" class="inputs" formControlName="expMonth">
                    <option value="{{month}}" [selected]="month == addProductForm.value.expMonth" *ngFor="let month of monthArr">{{month}}</option>
                </select>
                <select name="" id="exp-year" class="inputs" formControlName="expYear">
                    <option value="{{year}}" [selected]="year == addProductForm.value.expYear" *ngFor="let year of yearArr">{{year}}</option>
                </select>
            </div>
        </div>
        <div class="input-sections">
            <label for="url" class="input-labels">Meeicine Image</label>
            <span class="error-message" *ngIf="!addProductForm.get('url')?.valid && addProductForm.get('url')?.touched">
                [Please upload the Image first]
            </span>
            <input type="file" class="inputs" formControlName="url">
        </div>
        <div class="input-sections">
            <label for="price" class="input-labels">Price</label>
            <span class="error-message" *ngIf="!addProductForm.get('price')?.valid && addProductForm.get('price')?.touched">
                [Please enter valid price value]
            </span>
            <input type="number" class="inputs" placeholder="Price" formControlName="price">
        </div>
        <div class="input-sections">
            <label for="seller" class="input-labels">Seller Name</label>
            <span class="error-message" *ngIf="!addProductForm.get('seller')?.valid && addProductForm.get('seller')?.touched">
                [Seller name should be minimum 3 characters long]
            </span>
            <input type="text" class="inputs" placeholder="Seller Name" formControlName="seller">
        </div>
        <div class="input-sections">
            <label for="description" class="input-labels">Description</label>
            <span class="error-message" *ngIf="!addProductForm.get('description')?.valid && addProductForm.get('description')?.touched">
                [Description length should be minimum 15 characters long]
            </span>
            <textarea type="text" class="inputs" placeholder="Description Here" formControlName="description"></textarea>
        </div>

        <div class="form-footer">
            <button type="button" class="cancel-btn" (click)="goBack()"><i class="fa fa-duotone fa-arrow-left"></i> Cancel</button>
            <button type="submit" class="add-btn submit-btn" [disabled]="!addProductForm.valid">Create <i class="fa fa-duotone fa-plus"></i></button>
        </div>
    </form>
</div>