<div class="section-header">
    <h1 class="section-title">Here is the list of all the Users</h1>
    <h2 class="section-title-{{roleStatus}}">{{roleMessage}}</h2>
</div>
<div class="user-container">
    <div class="user-card" *ngFor="let user of userList">
        <div class="user-data">
            <h3 class="user-name">{{user.firstName}} {{user.lastName}}</h3>
            <h4 class="user-detail"><span>Email :</span> {{user.email}}</h4>
            <h4 class="user-detail"><span>Phone :</span> {{user.phone}}</h4>
        </div>
        <form class="user-info" (submit)="updateRole(user.userId, user.firstName)">
            <select name="role" id="role" class="role-selector" id="role{{user.userId}}">
                <option [value]="role.value" *ngFor="let role of roleList" [selected]="user.role==role.value">{{role.name}}</option>
            </select>
            <button type="submit" class="update-btn">Update</button>
        </form>
    </div>
</div>