<nav id="nav">
    <div class="nav-brand">
        <img class="brand-logo" src="assets/Logo/brand-logo.png" alt="brand-logo">
        <h1 class="brand-name">Pill 'n Chill</h1>
    </div>
    <div class="nav-list">
        <ul class="nav-items">
            <li><a routerLink="" class="nav-links">Contact Us</a></li>
            <li><a routerLink="" class="nav-links">About Us</a></li>
            <li><a routerLink="" class="nav-links">Our Services</a></li>
            <li><a routerLink="" class="nav-links">Medicines</a></li>
        </ul>
        <a routerLink="/" class="login-link"><button class="nav-btn">Login <i class="fa fa-light fa-right-to-bracket login-btn-icon"></i></button></a>
    </div>
</nav>