body {
  position: relative;
}
#nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: none;
  z-index: 100;
  transition: all 400ms ease-out;
}
.change-nav {
  background-color: white;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}
.nav-list,
.nav-brand {
  display: flex;
  align-items: center;
}
.brand-logo {
  width: 3rem;
}
.brand-name {
  font-size: 2.5rem;
  margin: 0 1rem;
  font-family: var(--secondary-font);
  color: #3a609a;
  word-spacing: 0.5rem;
  letter-spacing: -0.25rem;
}
.nav-items {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 1rem;
}
.nav-links {
  color: #3a609a;
  font-weight: 500;
  text-decoration: none;
  margin: 0 0.25rem;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  transition: all 300ms ease-out;
}
.nav-links:hover {
  background-color: #dee2ff;
  color: black;
}
.login-link {
  text-decoration: none;
}
.nav-btn,
.dropbtn {
  padding: 0.5rem 1.25rem;
  border-radius: 8px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 200ms ease-out;
  display: flex;
  align-items: center;
}
/* ========================= Drop Down Buttons ====================== */
.dropdown {
  position: relative;
}
.dropbtn {
  background-color: var(--primary-color);
  color: white;
  margin-right: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
.dropdown-content {
  position: absolute;
  width: 12rem;
  padding: 0.5rem;
  border-radius: 12px;
  display: none;
  background-color: #ffffff;
  box-shadow: 0px 8px 22px 5px rgba(0, 0, 0, 0.2);
  left: -40%;
  z-index: 90;
}
.dropdown-content a {
  display: flex;
  align-items: center;
  border-radius: 8Px;
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
}
.dropdown-content a i{
    margin-right: 0.5rem;
}
.dropdown-content a:hover {
  background-color: #c1c8ff;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
.dropdown:hover .dropbtn {
  background-color: var(--secondary-color);
}

.nav-btn.login {
  color: white;
  background-color: var(--primary-color);
}
.nav-btn.logout {
  color: white;
  background-color: var(--primary-delete-color);
}
.nav-btn.logout:hover {
  background-color: var(--secondary-delete-color);
}
.nav-btn.logout:active {
  background-color: var(--ternery-delete-color);
}
i.btn-icon, .dropbtn i {
  margin-left: 0.5rem;
}
.nav-btn:hover {
  color: rgb(0, 0, 0);
  background-color: #c1c8ff;
}
