<main>
    <section class="hero-section">
        <div class="hero-title">
            <h1 class="hero-title-text">Find Your Best <br> Caring Here</h1>
            <p class="hero-subtitle-text">We are always here for your health.</p>
        </div>
        <div class="hero-description">
            <ul class="desc-list">
                <li class="desc"><i class="fa fa-duotone fa-circle-check check-icon"></i>Buy Medicines, create schedule </li>
                <li class="desc"><i class="fa fa-duotone fa-circle-check check-icon"></i>Book first 2 free checkups in you city</li>
                <li class="desc"><i class="fa fa-duotone fa-circle-check check-icon"></i>2 Days Delivery</li>
                <li class="desc"><i class="fa fa-duotone fa-circle-check check-icon"></i>Consult Doctors on Video Call in few taps</li>
            </ul>
        </div>

        <!-- Search form -->
        <form class="search-bar">
            <input class="search-text" type="text" name="medicine" id="medicine" placeholder="Search Medicine">
            <button type="submit" routerLink=""><i class="fa-solid fa-magnifying-glass search-logo"></i></button>
        </form>
    </section>

    <!-- ==================== Frequent Product Section ==================== -->
    <section class="sub-sections freq-prod">
        <h2 class="section-title">Frequently Bought Products</h2>
        <h5 class="section-subtitle">Made buying medicines easy and hasselfree</h5>
        <div class="product-container">
            <div class="product-card" *ngFor="let medicine of topProducts">
                <div class="card-body">
                    <img src="assets/MedicineDb/{{medicine.url}}" alt="" class="product-img">
                </div>
                <div class="card-footer">
                    <h4 class="product-name">{{medicine.name}}</h4>
                    <h3 class="product-price"><span>&#x20B9; </span>{{medicine.price.toFixed(2)}}</h3>
                    <p class="product-mrp"><span>MRP : </span>{{(medicine.price*1.1).toFixed(2)}}</p>
                    <button routerLink="/products/{{medicine.type}}/{{medicine.category}}/{{medicine.medicineId}}" class="buy-btn">
                        <i class="fa-solid fa-cart-shopping buy-now-icon"></i> Buy Now
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- ======================= Categories ====================== -->
    <section class="sub-sections categories-section">
        <h2 class="section-title">Product Categories and Types</h2>
        <h5 class="section-subtitle">We provide wide range of product categories</h5>
        <div class="category-container">
            <button class="category-card" *ngFor="let category of categories" routerLink="/products/all/{{category.urlName}}">
                <i [classList]="category.url"></i>
                <h4>{{category.categoryName}}</h4>
            </button>
        </div>
    </section>

    <!-- ======================= Services Section ========================== -->
    <section class="sub-sections serv-section">
        <h2 class="section-title">Our Services</h2>
        <h5 class="section-subtitle">We provide easy to deal services for our customers</h5>
        <div class="service-container">
            <div class="service-card serv-card-1">
                <div class="service-card-header">
                    <h3 class="service-title">Order By Prescription</h3>
                    <p class="service-desc">Login and upload the <br> prescription and get meds.</p>
                </div>
                <button class="service-btn">Upload <i class="fa-solid fa-arrow-right right-arrow-icon-btn"></i></button>
            </div>
            <div class="service-card serv-card-2">
                <div class="service-card-header">
                    <h3 class="service-title">Doctor Consultation</h3>
                    <p class="service-desc">Consult with best doctors on <br>video call in just &#x20B9;499.00</p>
                </div>
                <button class="service-btn">View <i class="fa-solid fa-arrow-right right-arrow-icon-btn"></i></button>
            </div>
            <div class="service-card serv-card-3">
                <div class="service-card-header">
                    <h3 class="service-title">On time Delivery</h3>
                    <p class="service-desc">*Else Free Delivery</p>
                </div>
                <button class="service-btn">View *T&C <i
                        class="fa-solid fa-arrow-right right-arrow-icon-btn"></i></button>
            </div>
            <div class="service-card serv-card-4">
                <div class="service-card-header">
                    <h3 class="service-title">Chat with a doctor</h3>
                    <p class="service-desc">Chat with expert doctor <br> within 2 minutes.</p>
                </div>
                <button class="service-btn">Chat <i class="fa-solid fa-arrow-right right-arrow-icon-btn"></i></button>
            </div>
        </div>
    </section>

</main>