<div class="section-header">
    <h1 class="section-title">Here is the list of all the categories</h1>
    <button type="submit" class="add-btn" routerLink="/admin/categories/add"><i class="fa fa-duotone fa-plus"></i> Add New Category </button>
</div>

<div class="category-container">
    <div class="category-card" routerlink="/abc" type="button">
        <div class="category-data">
            <i class="fa-solid fa-baby"></i>
            <div class="category-details">
                <h3 class="category-name">Baby Care</h3>
            </div>
        </div>
        <div class="category-info">
            <button type="button" class="view-btn" routerLink="/admin/categories/form">Edit / View</button>
            <button type="button" class="delete-btn" routerlink="">Delete</button>
        </div>
    </div>

    <div class="category-card" routerlink="/abc" type="button">
        <div class="category-data">
            <i class="fa-solid fa-prescription-bottle-medical"></i>
            <div class="category-details">
                <h3 class="category-name">Vitamins</h3>
        </div>
        <div class="category-info">
            <button type="button" class="view-btn" routerLink="/admin/categories/form">Edit / View</button>
            <button type="button" class="delete-btn" routerlink="">Delete</button>
        </div>
    </div>

    <div class="category-card" routerlink="/abc" type="button">
        <div class="category-data">
            <i class="fa fa-light fa-capsules"></i>
            <div class="category-details">
                <h3 class="category-name">General Medicines</h3>
            </div>
        </div>
        <div class="category-info">
            <button type="button" class="view-btn" routerLink="/admin/categories/form">Edit / View</button>
            <button type="button" class="delete-btn" routerlink="">Delete</button>
        </div>
    </div>

    <div class="category-card" routerlink="/abc" type="button">
        <div class="category-data">
            <i class="fa fa-duotone fa-child-reaching"></i>
            <div class="category-details">
                <h3 class="category-name">Skin Care</h3>
            </div>
        </div>
        <div class="category-info">
            <button type="button" class="view-btn" routerLink="/admin/categories/form">Edit / View</button>
            <button type="button" class="delete-btn" routerlink="">Delete</button>
        </div>
    </div>

    <div class="category-card" routerlink="/abc" type="button">
        <div class="category-data">
            <i class="fa fa-solid fa-mask-face"></i>
            <div class="category-details">
                <h3 class="category-name">Surgical Items</h3>
            </div>
        </div>
        <div class="category-info">
            <button type="button" class="view-btn" routerLink="/admin/categories/form">Edit / View</button>
            <button type="button" class="delete-btn" routerlink="">Delete</button>
        </div>
    </div>
</div>