<div class="from-section">
    <div class="section-header">
        <i class="fa fa-duotone fa-plus"></i>
        <h1 class="section-title">Add new Category</h1>
    </div>
    
    <form class="CategoryForm">
        <div class="input-sections">
            <label for="" class="input-labels">Category Name</label>
            <input type="text" class="inputs" placeholder="Category Name">
        </div>

        <div class="input-sections">
            <label for="" class="input-labels">Category Img</label>
            <input type="file" class="inputs">
        </div>
        
        <div class="form-footer">
            <button type="button" class="cancel-btn" routerLink="/admin/categories"><i class="fa fa-duotone fa-arrow-left"></i> Cancel</button>
            <button type="submit" class="add-btn">Create <i class="fa fa-duotone fa-plus"></i></button>
        </div>
    </form>
</div>