<main>
    <div id="header-container">
        <h1 id="main-heading">Billing</h1>
        <p id="main-description">Enter Details for Payment</p>
        <div id="bill-container">
            <p class="bill-description"><span>Billing For : </span> {{ProductDetails.product.name}}</p>
            <p class="bill-description"><span>Total payment : </span> &#x20B9; {{ProductDetails.order.total}}</p>
        </div>
    </div>
    <form class="input-container" [formGroup]="cardBilling" (ngSubmit)="purchase()" *ngIf="cardType=='credit-card' || cardType=='debit-card'">
        <section class="data-type-sections">
            <div class="section-header">
                <i class="fa fa-duotone fa-credit-card"></i>
                <h3 class="section-count">Details Here</h3>
            </div>
            <div class="section-data">
                <div class="section-name">{{paymentMethod}}</div>
                <div class="section-inputs">
                    <div class="input-divs">
                        <label for="cardNumber" class="input-labels">Card Number</label>
                        <input type="number" name="cardNumber" id="cardNumber" placeholder="XXXX XXXX XXXX XXXX"
                            class="input-fields" formControlName="cardNumber">
                    </div>
                    <div class="input-divs">
                        <label for="cardHolder" class="input-labels">Card Holder's Name</label>
                        <input type="text" name="cardHolder" id="cardHolder" placeholder="Card holder's Name" class="input-fields" formControlName="cardHolder">
                    </div>
                    <div class="input-divs">
                        <label for="expDate" class="input-labels">Expiry Date</label>
                        <div class="expiry-date">
                            <select name="month" id="month" class="input-fields" formControlName="expMonth">
                                <option value="{{month}}" *ngFor="let month of monthArr">{{month}}</option>
                            </select>
                            <select name="year" id="year" class="input-fields" formControlName="expYear">
                                <option value="{{year}}" *ngFor="let year of yearArr">{{year}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-divs">
                        <label for="cvv" class="input-labels">CVV</label>
                        <input type="number" name="cvv" id="cvv" placeholder="CVV" class="input-fields" formControlName="cvv">
                    </div>
                </div>
            </div>
        </section>
        <button class="place-order-btn" type="submit" [disabled]="(!cardBilling.valid)">
            <i class="fa fa-duotone fa-lock"></i> Pay Securely
        </button>
    </form>

    <form class="input-container" [formGroup]="upiBilling" (ngSubmit)="purchase()" *ngIf="cardType=='UPI'">
        <section class="data-type-sections">
            <div class="section-header">
                <i class="fa fa-duotone fa-credit-card"></i>
                <h3 class="section-count">Details Here</h3>
            </div>
            <div class="section-data">
                <div class="section-name">{{paymentMethod}}</div>
                <div class="section-inputs">
                    <div class="input-divs">
                        <label for="vpa" class="input-labels">VPA / UPI address</label>
                        <input type="text" name="vpa" id="vpa" placeholder="UPI address" class="input-fields" formControlName="vpa">
                    </div>
                </div>
            </div>
        </section>
        <button class="place-order-btn" type="submit" [disabled]="(!upiBilling.valid)">
            <i class="fa fa-duotone fa-lock"></i> Pay Securely
        </button>
    </form>

    <form class="input-container" [formGroup]="codBilling" (ngSubmit)="purchase()" *ngIf="cardType =='cod'">
        <section class="data-type-sections">
            <div class="section-header">
                <i class="fa fa-duotone fa-credit-card"></i>
                <h3 class="section-count">Details Here</h3>
            </div>
            <div class="section-data">
                <div class="section-name">{{paymentMethod}}</div>
                <div class="section-inputs">
                    <div class="agreement-div">
                        <input type="checkbox" name="agree" id="agree" formControlName="check">
                        <p>After purchasing by COD, the return policy will not be applicable on the product.</p>
                    </div>
                </div>
            </div>
        </section>
        <button class="place-order-btn" type="submit"[disabled]="(!codBilling.valid)">
            <i class="fa fa-duotone fa-circle-check"></i> Confirm Order
        </button>
    </form>


    <section [class]="popupClass">
        <div [class]="orderProcess">
            <h1 class="processingHeading">Processing your request</h1>
            <img src="assets/loading/orderLoading.gif" class="order-gif1" alt="orderConfirmed1">
        </div>
        <div [class]="orderConfirmation">
            <h1 class="confirmationHeading">Order Confirmed</h1>
            <img src="assets/loading/confirm.gif" class="order-gif2" alt="orderConfirmed2">
        </div>
    </section>
</main>