<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
<div class="container">
    <div class="row m-5 no-gutters shadow-lg">
        <div class="col-md-6 d-none d-md-block">
            <img src="https://media.istockphoto.com/photos/3d-render-doctor-cartoon-character-shows-smart-phone-device-with-picture-id1312283392?b=1&k=20&m=1312283392&s=170667a&w=0&h=U3Z5X1-7287Is2-7Hx7PPZurs0da-RFGahEXU8VJjus=" class="img-fluid" style="min-height:100%;"/>
        </div>
        <div class="col-md-6 bg-white p-5">
            <h3 class="pb-3 text-center">LOGIN</h3>
            <div class="form-style">
                <form>
                    <div class="form-group pb-3">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Username"class="form-control" id="exampleInputEmail1">
                    </div>
                    <div class="form-group pb-3">
                        <i class="fa-solid fa-key"></i>
                        <input type="password" placeholder="Password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center"><input name="" type="checkbox" value="" /> <span class="pl-2 font-weight-bold">Remember Me</span></div>
                        <div><a href="#">Forget Password?</a></div>
                    </div>
                    <div class="pb-2">
                        <button type="submit" class="btn w-100 mt-2">Submit</button>
                    </div>
                </form>
                <div class="pt-4 text-center">
                    Get Members Benefit. <a href="#">Sign Up</a>
                </div>
            </div>
        </div>
    </div>  
</div>  