<main>
    <section class="hero-section">
        <div class="hero-title">
            <h1 class="hero-title-text">Find Your Best <br> Caring Here</h1>
            <p class="hero-subtitle-text">We are always here for your health.</p>
        </div>
        <div class="hero-description">
            <ul class="desc-list">
                <li class="desc"><i class="fa fa-duotone fa-circle-check check-icon"></i>Buy Medicines, create schedule</li>
                <li class="desc"><i class="fa fa-duotone fa-circle-check check-icon"></i>Book first 2 free checkups in you city</li>
                <li class="desc"><i class="fa fa-duotone fa-circle-check check-icon"></i>2 Days Delivery</li>
                <li class="desc"><i class="fa fa-duotone fa-circle-check check-icon"></i>Consult Doctors on Video Call in few taps</li>
            </ul>
        </div>
        <div class="search-bar">
            <input class="search-text" type="text" name="medicine" id="medicine" placeholder="Search Medicine">
            <i class="fa-solid fa-magnifying-glass search-logo"></i>
        </div>
    </section>
</main>
