<main>
    <section class="hero-section">
        <div class="hero-title">
            <h1 class="hero-title-text">Find Your Best <br> Caring Here</h1>
            <p class="hero-subtitle-text">We are always here for your health.</p>
        </div>
        <div class="hero-description">
            <ul class="desc-list">
                <li class="desc"><i class="fa fa-duotone fa-circle-check check-icon"></i>Buy Medicines, create schedule
                </li>
                <li class="desc"><i class="fa fa-duotone fa-circle-check check-icon"></i>Book first 2 free checkups in
                    you city</li>
                <li class="desc"><i class="fa fa-duotone fa-circle-check check-icon"></i>2 Days Delivery</li>
                <li class="desc"><i class="fa fa-duotone fa-circle-check check-icon"></i>Consult Doctors on Video Call
                    in few taps</li>
            </ul>
        </div>

        <!-- Search form -->
        <form class="search-bar">
            <input class="search-text" type="text" name="medicine" id="medicine" placeholder="Search Medicine">
            <button type="submit" routerLink=""><i class="fa-solid fa-magnifying-glass search-logo"></i></button>
        </form>
    </section>


    <!-- ==================== Frequent Product Section ==================== -->
    <section class="sub-sections freq-prod">
        <h2 class="section-title">Frequently Bought Products</h2>
        <h5 class="section-subtitle">Made buying medicines easy and hasselfree</h5>
        <div class="product-container">
            <div class="product-card">
                <div class="card-body">
                    <img src="assets/LandingPage/demoMedicineImages/pcm.jpg" alt="" class="product-img">
                </div>
                <div class="card-footer">
                    <h4 class="product-name">Paracetamol Tablets 250mg</h4>
                    <h3 class="product-price"><span>&#x20B9; </span>45.99</h3>
                    <p class="product-mrp"><span>MRP : </span>58.60</p>
                    <button routerLink="/" class="buy-btn"><i class="fa-solid fa-cart-shopping buy-now-icon"></i> Buy Now</button>
                </div>
            </div>
            <div class="product-card">
                <div class="card-body">
                    <img src="assets/LandingPage/demoMedicineImages/amoxy.jpg" alt="" class="product-img">
                </div>
                <div class="card-footer">
                    <h4 class="product-name">Amoxycilin Capsules 500mg</h4>
                    <h3 class="product-price"><span>&#x20B9; </span>108.45</h3>
                    <p class="product-mrp"><span>MRP : </span>119.80</p>
                    <button routerLink="/" class="buy-btn"><i class="fa-solid fa-cart-shopping buy-now-icon"></i> Buy Now</button>
                </div>
            </div>
            <div class="product-card">
                <div class="card-body">
                    <img src="assets/LandingPage/demoMedicineImages/clonezepam.jpg" alt="" class="product-img">
                </div>
                <div class="card-footer">
                    <h4 class="product-name">Clonezepam Tablets 0.5mg</h4>
                    <h3 class="product-price"><span>&#x20B9; </span>33.50</h3>
                    <p class="product-mrp"><span>MRP : </span>36.90</p>
                    <button routerLink="/" class="buy-btn"><i class="fa-solid fa-cart-shopping buy-now-icon"></i> Buy Now</button>
                </div>
            </div>
            <div class="product-card">
                <div class="card-body">
                    <img src="assets/LandingPage/demoMedicineImages/omni.jpg" alt="" class="product-img">
                    <h4 class="product-name">Omnigel 80gm</h4>
                </div>
                <div class="card-footer">
                    <h3 class="product-price"><span>&#x20B9; </span>35.00</h3>
                    <p class="product-mrp"><span>MRP : </span>39.9</p>
                    <button routerLink="/" class="buy-btn"><i class="fa-solid fa-cart-shopping buy-now-icon"></i> Buy Now</button>
                </div>
            </div>
            <div class="product-card">
                <div class="card-body">
                    <img src="assets/LandingPage/demoMedicineImages/ctz.jpg" alt="" class="product-img">
                </div>
                <div class="card-footer">
                    <h4 class="product-name">Cetirizine Tablets 10mg (10 tablets)</h4>
                    <h3 class="product-price"><span>&#x20B9; </span>90.99</h3>
                    <p class="product-mrp"><span>MRP : </span>105.49</p>
                    <button routerLink="/" class="buy-btn"><i class="fa-solid fa-cart-shopping buy-now-icon"></i> Buy Now</button>
                </div>
            </div>
            <div class="product-card">
                <div class="card-body">
                    <img src="assets/LandingPage/demoMedicineImages/liv.52.jpg" alt="" class="product-img">
                    <h4 class="product-name">Himalaya Liv.52 100ml</h4>
                </div>
                <div class="card-footer">
                    <h3 class="product-price"><span>&#x20B9; </span>135.85</h3>
                    <p class="product-mrp"><span>MRP : </span>159.60</p>
                    <button routerLink="/" class="buy-btn"><i class="fa-solid fa-cart-shopping buy-now-icon"></i> Buy Now</button>
                </div>
            </div>
        </div>
    </section>

    <!-- ======================= Services Section ========================== -->
    <section class="sub-sections serv-section">
        <h2 class="section-title">Our Services</h2>
        <h5 class="section-subtitle">We provide easy to deal services for our customers</h5>
        <div class="service-container">
            <div class="service-card serv-card-1">
                <div class="service-card-header">
                    <h3 class="service-title">Order By Prescription</h3>
                    <p class="service-desc">Login and upload the <br> prescription and get meds.</p>
                </div>
                <button class="service-btn">Upload <i class="fa-solid fa-arrow-right right-arrow-icon-btn"></i></button>
            </div>
            <div class="service-card serv-card-2">
                <div class="service-card-header">
                    <h3 class="service-title">Doctor Consultation</h3>
                    <p class="service-desc">Consult with best doctors on <br>video call in just &#x20B9;499.00</p>
                </div>
                <button class="service-btn">View <i class="fa-solid fa-arrow-right right-arrow-icon-btn"></i></button>
            </div>
            <div class="service-card serv-card-3">
                <div class="service-card-header">
                    <h3 class="service-title">On time Delivery</h3>
                    <p class="service-desc">*Else Free Delivery</p>
                </div>
                <button class="service-btn">View *T&C <i class="fa-solid fa-arrow-right right-arrow-icon-btn"></i></button>
            </div>
            <div class="service-card serv-card-4">
                <div class="service-card-header">
                    <h3 class="service-title">Chat with a doctor</h3>
                    <p class="service-desc">Chat with expert doctor <br> within 2 minutes.</p>
                </div>
                <button class="service-btn">Chat <i class="fa-solid fa-arrow-right right-arrow-icon-btn"></i></button>
            </div>
        </div>
    </section>

    <!-- ======================= Categories ====================== -->
    <section class="sub-sections categories-section">
        <h2 class="section-title">Product Categories and Types</h2>
        <h5 class="section-subtitle">We provide wide range of product categories</h5>
        <div class="category-container">
            <div class="category-card">
                <div class="caategory-header">
                    <div class="category-title">
                        <i class="fa-solid fa-baby"></i>
                        <h4>Baby Care</h4>
                    </div>
                    <p class="category-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, aliquam.</p>
                </div>
                <div class="category-footer">
                    <button class="category-btn">view</button>
                </div>
            </div>
            <div class="category-card">
                <div class="caategory-header">
                    <div class="category-title">
                        <i class="fa-solid fa-prescription-bottle-medical"></i>
                        <h4>Vitamins</h4>
                    </div>
                    <p class="category-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, aliquam.</p>
                </div>
                <div class="category-footer">
                    <button class="category-btn">view</button>
                </div>
            </div>
            <div class="category-card">
                <div class="caategory-header">
                    <div class="category-title">
                        <i class="fa-solid fa-heart-pulse"></i>
                        <h4>Heart/Thyroid/Bone Care</h4>
                    </div>
                    <p class="category-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, aliquam.</p>
                </div>
                <div class="category-footer">
                    <button class="category-btn">view</button>
                </div>
            </div>
            <div class="category-card">
                <div class="caategory-header">
                    <div class="category-title">
                        <i class="fa fa-duotone fa-temperature-full"></i>
                        <h4>Cold and Flu</h4>
                    </div>
                    <p class="category-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, aliquam.</p>
                </div>
                <div class="category-footer">
                    <button class="category-btn">view</button>
                </div>
            </div>
            <div class="category-card">
                <div class="caategory-header">
                    <div class="category-title">
                        <i class="fa fa-duotone fa-child-reaching"></i>
                        <h4>Skin Care</h4>
                    </div>
                    <p class="category-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, aliquam.</p>
                </div>
                <div class="category-footer">
                    <button class="category-btn">view</button>
                </div>
            </div>
            <div class="category-card">
                <div class="caategory-header">
                    <div class="category-title">
                        <i class="fa fa-light fa-capsules"></i>
                        <h4>Tablets/Capsules</h4>
                    </div>
                    <p class="category-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, aliquam.</p>
                </div>
                <div class="category-footer">
                    <button class="category-btn">view</button>
                </div>
            </div>
            <div class="category-card">
                <div class="caategory-header">
                    <div class="category-title">
                        <i class="fa fa-light fa-spray-can-sparkles"></i>
                        <h4>Ointment/Sprays</h4>
                    </div>
                    <p class="category-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, aliquam.</p>
                </div>
                <div class="category-footer">
                    <button class="category-btn">view</button>
                </div>
            </div>
        </div>
    </section>
</main>