<main>
    <div id="header-container">
        <h1 id="main-heading">Checkout</h1>
        <p id="main-description">Enter Your Details</p>
    </div>
    <form id="input-container" #form="ngForm">
        <section class="data-type-sections">
            <div class="section-header">
                <i class="fa fa-duotone fa-user"></i>
                <h3 class="section-count">01</h3>
            </div>
            <div class="section-data">
                <div class="section-name">Personal Details</div>
                <div class="section-inputs">
                    <div class="input-divs">
                        <label for="" class="input-labels">First Name</label>
                        <input type="text" name="firstName" id="firstName" placeholder="First Name"
                            class="input-fields" [(ngModel)]="deliveryData.firstName">
                    </div>
                    <div class="input-divs">
                        <label for="" class="input-labels">Last Name</label>
                        <input type="text" name="lastName" id="lastName" placeholder="Last Name" class="input-fields" [(ngModel)]="deliveryData.lastName">
                    </div>
                    <div class="input-divs">
                        <label for="" class="input-labels">Email</label>
                        <input type="email" name="email" id="email" placeholder="Email" class="input-fields" [(ngModel)]="deliveryData.email">
                    </div>
                    <div class="input-divs">
                        <label for="contact" class="input-labels">Phone Number</label>
                        <input type="number" name="contact" id="" placeholder="+91 XXXXX - XXXXX" class="input-fields" [(ngModel)]="deliveryData.phone">
                    </div>
                </div>
            </div>
        </section>

        <section class="data-type-sections">
            <div class="section-header">
                <i class="fa fa-duotone fa-truck-fast"></i>
                <h3 class="section-count">02</h3>
            </div>
            <div class="section-data">
                <div class="section-name">Shipping Details</div>
                <div class="section-inputs">
                    <div class="input-divs full-line">
                        <label for="street" class="input-labels">Street Address</label>
                        <input type="text" name="street" id="street" placeholder="Street Address" class="input-fields" [(ngModel)]="deliveryData.street">
                    </div>
                    <div class="input-divs">
                        <label for="city" class="input-labels">City</label>
                        <input type="text" name="city" id="city" placeholder="City" class="input-fields" [(ngModel)]="deliveryData.city">
                    </div>
                    <div class="input-divs">
                        <label for="state" class="input-labels">State / Province</label>
                        <input type="text" name="state" id="state" placeholder="State" class="input-fields" [(ngModel)]="deliveryData.state">
                    </div>
                    <div class="input-divs">
                        <label for="country" class="input-labels">Country</label>
                        <input type="text" name="country" id="country" placeholder="Country" class="input-fields" [(ngModel)]="deliveryData.country">
                    </div>
                    <div class="input-divs">
                        <label for="zip" class="input-labels">Zip Code</label>
                        <input type="number" name="zip" id="zip" placeholder="Zip code" class="input-fields" [(ngModel)]="deliveryData.zip">
                    </div>
                </div>
            </div>
        </section>

        <section class="data-type-sections">
            <div class="section-header">
                <i class="fa fa-duotone fa-credit-card"></i>
                <h3 class="section-count">03</h3>
            </div>
            <div class="section-data">
                <div class="section-name">Payment Method</div>
                <div class="card-options">
                    <div type="button" class="payment-card">
                        <label for="cc">Credit Card</label>
                        <input type="radio" name="Payment" id="cc" class="input-fields" value="credit-card" [(ngModel)]="deliveryData.cardType">
                    </div>
                    <div type="button" class="payment-card">
                        <label for="dc">Debit Card</label>
                        <input type="radio" name="Payment" id="dc" class="input-fields" value="debit-card" [(ngModel)]="deliveryData.cardType">
                    </div>
                    <div type="button" class="payment-card">
                        <label for="cod">Cash On Delivery</label>
                        <input type="radio" name="Payment" id="cod" class="input-fields" value="cod" [(ngModel)]="deliveryData.cardType">
                    </div>
                    <div type="button" class="payment-card">
                        <label for="upi">UPI (Accepts any UPI)</label>
                        <input type="radio" name="Payment" id="upi" class="input-fields" value="UPI" [(ngModel)]="deliveryData.cardType">
                    </div>
                </div>
            </div>
        </section>

        <button class="place-order-btn" type="submit" routerLink="/products/billing/{{deliveryData.cardType}}">
            <i class="fa fa-duotone fa-bag-shopping"></i> Checkout
        </button>
    </form>
</main>