<div class="section-header">
    <h1 class="section-title">Here is the list of all the Orders</h1>
</div>
<div>
    <h2 class="section-title-{{roleStatus}}">{{roleMessage}}</h2>
</div>
<div class="product-container">
    <div class="product-card" *ngFor="let order of allOrders">
        <div class="product-details">
            <h3 class="product-name">{{order.productName}}</h3>
            <h4 class="product-detail"><span>OrderID : {{order.orderId}}</span></h4>
            <h4 class="product-detail"><span>UserId :</span> {{order.userId}} </h4>
            <h4 class="product-detail"><span>ProductId :</span> {{order.productId}} </h4>
            <h4 class="product-detail"><span>Name :</span> {{order.firstName}} {{order.lastName}}</h4>
            <h4 class="product-detail"><span>contact :</span> {{order.phone}} </h4>
            <h4 class="product-detail"><span>Address :</span> {{order.street}}, {{order.city}}, {{order.state}}, {{order.country}}, {{order.zip}}</h4>
            <h4 class="product-detail"><span>Quantity :</span> {{order.quantity}} </h4>
            <h4 class="product-detail"><span>Total :</span> &#x20B9;{{order.total}}</h4>
            <h4 class="product-detail"><span>Order Date :</span> {{order.orderDate}} </h4>
            <h4 class="product-detail"><span>Order Status :</span> {{order.orderStatus}} </h4>
            <h4 class="product-detail"><span>Payment Status :</span> {{order.paymentStatus}} </h4>
            <h4 class="product-detail"><span>Payment Mode :</span> {{order.paymentMode}} </h4>
        </div>
        <form class="order-operations"  (submit)="updateOrderStatus(order.orderId)">
            <select name="role" class="status-selector" id="status{{order.orderId}}">
                <option [value]="status.value" [selected]="status.name == order.orderStatus" *ngFor="let status of orderStatus">{{status.name}}</option>
            </select>
            <button type="submit" class="update-btn" routerlink="">Update</button>
        </form>
    </div>
</div>