<main>
    <section class="hero-section">
        <div class="hero-title">
            <h1 class="hero-title-text">Hello, Admin Samay</h1>
        </div>

        <div class="category-container">
            <button routerLink = "dashboard" class="category-card">
                <h3>Manage Users</h3>
            </button>
            <button class="category-card">
                <h3>Manage Medicine Categories</h3>
            </button>
            <button class="category-card">
                <h3>Manage Medicines</h3>
            </button>
                <button class="category-card">
                <h3>Manage Medicine Types</h3>
            </button>
        </div>
    </section>
</main>