<main>
    <section>
        <div class="container">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="column-header">
                                <h2>Order History</h2>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#OrderID</th>
                                <th>Order Name</th>
                                <th>Quantity</th>
                                <th>Order Date</th>						
                                <th>Status</th>						
                                <th>Net Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>20eca13a-356d-4676-80fe-8cb00172201c</td>
                                <td><img src="../../../../assets/MedicineDb/Baby_Care.jpg" class="product-img" alt="product-image" width="100"><br>Baby Combo</td>
                                <td>3</td>
                                <td>Jun 15, 2017</td>                        
                                <td><button type="submit" class="submit-btn pending-btn">Pending</button></td>
                                <td>&#x20B9; 254</td>
                                <td><button class="del-button"><i class="colors fa-solid fa-trash"></i></button></td>
                            </tr>
                            <tr>
                                <td>20eca13a-356d-4676-80fe-8cb00172201c</td>
                                <td><img src="../../../../assets/MedicineDb/Guduchi_tablets.jpg" class="product-img" alt="" width="100"><br>Guduchi Tablets</td>
                                <td>5</td>                       
                                <td>Jun 21, 2017</td>
                                <td><button type="submit" class="submit-btn add-btn">Delivered</button></td>
                                <td>&#x20B9; 1260</td>
                                <td><button class="del-button"><i class="colors fa-solid fa-trash"></i></button></td>
                            </tr>
                            <tr>
                                <td>20eca13a-356d-4676-80fe-8cb00172201c</td>
                                <td><img src="../../../../assets/MedicineDb/aktiv.jpg" class="product-img" alt="" width="100"><br>aktiv </td>
                                <td>4</td>
                                <td>Jul 04, 2017</td>
                                <td><button type="submit" class="submit-btn dispatch-btn">Dispatch</button></td>
                                <td>&#x20B9; 350</td>
                                <td><button class="del-button"><i class="colors fa-solid fa-trash"></i></button></td>                        
                            </tr>
                            <tr>
                                <td>20eca13a-356d-4676-80fe-8cb00172201c</td>
                                <td><img src="../../../../assets/MedicineDb/Torex.jpg" class="product-img" alt="" width="100"><br>Torex</td>
                                <td>5</td>
                                <td>Jul 16, 2017</td>						
                                <td><button type="submit" class="submit-btn cancel-btn">Cancelled</button></td>
                                <td>&#x20B9; 1572.23</td>
                                <td><button class="del-button"><i class="colors fa-solid fa-trash"></i></button></td>
                            </tr>
                            <tr>
                                <td>20eca13a-356d-4676-80fe-8cb00172201c</td>
                                <td><img src="../../../../assets/MedicineDb/Facewash.jpg" class="product-img" alt="" width="100"><br>Facewash</td>
                                <td>6</td>
                                <td>Aug 04, 2017</td>
                                <td><button type="submit" class="submit-btn add-btn">Delivered</button></td>
                                <td>&#x20B9; 580</td>
                                <td><button class="del-button"><i class="colors fa-solid fa-trash"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>        
        </div>     
    </section>
</main>