<main>
    <section>
        <h1>Add new Medicine</h1>
        <form class="MedicineFrom">
            <div class="input-sections">
                <label for="" class="input-labels">Medicine Name</label>
                <input type="text" class="inputs">
            </div>
            <div class="input-sections">
                <label for="" class="input-labels">Chemical Name</label>
                <input type="text" class="inputs">
            </div>
            <div class="input-sections">
                <label for="" class="input-labels">Brand Name</label>
                <input type="text" class="inputs">
            </div>
            <div class="input-sections">
                <label for="" class="input-labels">Category</label>
                <input type="text" class="inputs">
            </div>
            <div class="input-sections">
                <label for="" class="input-labels">Type</label>
                <input type="text" class="inputs">
            </div>
            <div class="input-sections">
                <label for="" class="input-labels">MFG Date</label>
                <input type="date" class="inputs">
            </div>
            <div class="input-sections">
                <label for="" class="input-labels">EXP Date</label>
                <input type="date" class="inputs">
            </div>
            <div class="input-sections">
                <label for="" class="input-labels">Photo</label>
                <input type="text" class="inputs">
            </div>
            <div class="input-sections">
                <label for="" class="input-labels">Price</label>
                <input type="number" class="inputs">
            </div>
            <div class="input-sections">
                <label for="" class="input-labels">Seller Name</label>
                <input type="text" class="inputs">
            </div>
        </form>
    </section>
</main>