<main>
    <section>
        <h1>Add new Medicine</h1>
        <form>
            <label for="">Medicine Name</label>
            <input type="text"><br>
            <label for="">Chemical Name</label>
            <input type="text"><br>
            <label for="">Brand Name</label>
            <input type="text"><br>
            <label for="">Category</label>
            <input type="text"><br>
            <label for="">Type</label>
            <input type="text"><br>
            <label for="">MFG Date</label>
            <input type="date"><br>
            <label for="">EXP Date</label>
            <input type="date"><br>
            <label for="">Photo</label>
            <input type="text"><br>
            <label for="">Price</label>
            <input type="number"><br>
            <label for="">Seller Name</label>
            <input type="text"><br>
        </form>
    </section>
</main>